In [1]:
import numpy as np
import pandas as pd

In [8]:
lables=['a','b','c']
my_data=[10,20,30]
arr=np.array(my_data)
d={'a':10,'b':20,'c':30}

In [3]:
pd.Series(my_data)

0    10
1    20
2    30
dtype: int64

In [4]:
pd.Series(data=my_data,index=lables)

a    10
b    20
c    30
dtype: int64

In [5]:
pd.Series(my_data,lables)

a    10
b    20
c    30
dtype: int64

In [6]:
pd.Series(lables)

0    a
1    b
2    c
dtype: object

In [7]:
d

{'a': 10, 'b': 20, 'c': 30}

In [8]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [9]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [17]:
pd.Series([sum,print])

0      <built-in function sum>
1    <built-in function print>
dtype: object

In [2]:
ser1=pd.Series([1,2,3,5],['fayza','mohamed','enas','eman'])

In [3]:
ser1

fayza      1
mohamed    2
enas       3
eman       5
dtype: int64

In [6]:
ser1['fayza']

1

In [9]:
ser2=pd.Series(arr)

In [10]:
ser2

0    10
1    20
2    30
dtype: int32

In [11]:
ser3=pd.Series(data=lables)

In [12]:
ser3

0    a
1    b
2    c
dtype: object

In [13]:
ser1+ser2

0         NaN
1         NaN
2         NaN
eman      NaN
enas      NaN
fayza     NaN
mohamed   NaN
dtype: float64

In [14]:
ser4=pd.Series([1,2,3,4],['fayza','mohamed','enas','eman'])

In [15]:
ser1+ser4

fayza      2
mohamed    4
enas       6
eman       9
dtype: int64

In [16]:
ser1

fayza      1
mohamed    2
enas       3
eman       5
dtype: int64

In [17]:
ser4

fayza      1
mohamed    2
enas       3
eman       4
dtype: int64

In [18]:
ser1+ser4

fayza      2
mohamed    4
enas       6
eman       9
dtype: int64